/**
 * _alerts.scss
 * Default alerts
 */

.debug{
    background: #e8b71a;
    color: white;
    width: 60px;
    position: fixed;
    z-index: 100000;
    bottom: 5px;
    right: 5px;
    font-weight: $bold;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    border-radius: 3px;
    border: 1px solid white;

    &:before{
        content: "Small";
        padding: 7px 5px 5px 5px;
        display: block;
    }

    @include at-breakpoint($m){
        background: #1fda9a;
        width: 80px;
        &:before{
            content: "Medium";
        }
    }

    @include at-breakpoint($l){
        background: #28abe3;
        width: 100px;
        &:before{
            content: "Large";
        }
    }

    @include at-breakpoint($xl){
        background: #800851;
        width: 120px;
        &:before{
            content: "Xtra Large";
        }
    }
}
