/**
 * _buttons.scss
 * Buttons
 */

.btn{
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: $body_font;
    -webkit-font-smoothing: inherit;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    background: $clr_gold;
    border: none;
    padding: 6px 15px;
    border-radius: 25px;
    transition: background-color 0.4s ease;

    @include at-breakpoint($m){ 
        border-radius: 50px;
        padding: 12px 25px;
    }

    &:hover{
        text-decoration:none;
        background: darken($clr_gold,3%);
        color: #fff;
        cursor: pointer;
    }

    &:visited{
        color: #fff;
    }

    &:focus{
        box-shadow: none;
    }
}


.btn--case-study-link{
    margin: 0 auto;
    background: #47849d;

     &:hover{
        text-decoration:none;
        background: darken(#47849d,3%);
        color: #fff;
        cursor: pointer;
    }

    &:visited{
        color: #fff;
    }

    &:focus{
        box-shadow: none;
    }
}