/**
 * colour.scss
 * define basic colours and then apply them to vars
 * prefix colour variables with 'clr'
 */

/* Blues */
$clr_blue:                  #3498db;
$clr_blue_sky:              #1bc4e2;
$clr_blue_gray:             #47849d;

/* Greens */
$clr_green:                 #2ecc71;
$clr_green_leaf:            #50b948;
$clr_green_teal:            #66d5aa;
$clr_green_dark:            #00853e;
$clr_green_glow:            #12cc4f;

/* Misc */
$clr_orange:                #f38728;
$clr_red:                   #e74c3d;
$clr_gray_light:            #f3f3f3;
$clr_gold:                  #e6c903;

// ui colors

$clr_default:               $clr_green_leaf;
$clr_success:               $clr_green;
$clr_warning:               $clr_orange;
$clr_error:                 $clr_red;
$clr_disabled:              $clr_gray_light;

// Links / Anchors

$link:                  $clr_blue_gray;
$link_hover:            darken($link,10%);
$link_visited:          $link;

// Element Colours

$text_colour:           #2e3131;

$clr_brand_primary:     $clr_green_leaf; 
$clr_brand_secondary:   $clr_green_dark; 

$clr_sidebar_bg:        $clr_gray_light;
$clr_btn:               $clr_gold;

// Social colours
$clr_facebook: #46629E;
$clr_twitter: #55ACEE;
$clr_linkedin: #0978AF;