/**
 * _forms/scss
 * Bassic form css setup
 */

// Label

label {
    font-size: typesize(12);
    font-weight: $medium;
    text-transform: uppercase;
    display: block;
    margin: 0 0 size(0.5) 0;
}

input, 
select, 
textarea{
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: typesize(16);
    outline: none;
}

input[type="file"]{
    background: none;
    border: none;
    font-size: typesize(12);
}

input{
    display: inline-block;
    margin: 0 0 size(1) 0;
    width: 100%;
    border: none;
    padding: size(0.25); 
    outline: none;
    background: lighten($clr_gray_light,3%);
    border-radius: 4px;
    border: 1px solid #949393;
    transition: .2s;

    &:focus{
        background: #f7f6f6;
    }
}

textarea{
    background: lighten($clr_gray_light,3%);
    min-height: size(6);
    width: 100%;
    border-radius: 4px;
    border: 1px solid darken(#ccc,15%);
    padding: size(0.25); 
    margin: 0 0 size(1) 0;
    transition: .2s;

    &:focus{
        background: #f7f6f6;
    }
}

form{
    margin-bottom: size(1);
}

/**
 * Gravity Forms overrides
 */
.gform_fields{
    margin: 0;
    list-style-type: none;
}

/* Validation */
.gfield_required{
    color: $clr_red;
}
.gform_validation_container{
    display: none;
    visibility: hidden;
}
.validation_error{
    font-size: typesize(12);
    line-height: size(1);
    margin-bottom: size(1);
    color: $clr_red;
}
.gfield_error{
    background: lighten($clr_red,40%);
    padding: 10px;
    margin-bottom: size(1);

    .gfield_description{
        margin-bottom: 0;
    }
}
    div.validation_message{
        margin-top: 0;
        @extend .clear;
        color: $clr_red;
    }

/* Character counter for textarea */
.charleft{
    font-weight: 100;
    text-align: right;
    color: darken(#ccc,2%);
    margin-top: - size(1);
    margin-bottom: size(1);
}

/* Field Sizes */
@include at-breakpoint($m){
    .small{ width: 50%; }
    .medium{ width: 70%; }
    .large{ width: 100%; }
}
@include at-breakpoint($l){
    .small{ width: 45%; }
    .medium{ width: 75%; }
}
@include at-breakpoint($xl){
    .small{ width: 35%; }
    .medium{ width: 65%; }
}

.ginput_complex {
    @extend .clear;

    span{
        float: left;
        width: 48%;
        display: block;

        label{
            @extend .charleft;
        }
    }
}
    .ginput_left{
        margin-right: 1%;
    }
    .ginput_right{
        margin-left: 1%;
    }

.date-field{
    @extend .clear;
}
    .gfield_date_day,
    .gfield_date_month,
    .gfield_date_year{
        float: left;
        width: 15%;
        margin-right: 1%;

        label{
            @extend .charleft;
        }
    }

.clear-multi{
    width: 100%;
    @extend .clear;
}
.gfield_description{
    margin-top: - size(0.5);
    margin-bottom: size(1);
    color: darken(#ccc,5%);
    font-size: typesize(10);
}


/**
 * Search
 * Search field and button
 */

.search{
    
}

    .search__input{
        display: inline-block;
        margin: 0;
        width: 68%;
        border: 1px solid #ccc;
        appearance: searchfield;
    }
        .search__input--sidebar{
            padding: size(0.125);
            font-size: 13px;
            border-radius: 0;
        }

    .search__button{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        margin: 0;
        width: 30%;
        font-family: $body_font;
        border: 1px solid $clr_gold;
        border-radius: 0;
        background: $clr_gold;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        text-transform: uppercase;
        &:hover{
            cursor: pointer;
        }
    }

        .search__button--sidebar{
            padding: size(0.125);
            font-size: 13px;
        }