/**
 * _grid.scss
 * Responsive grids setup
 */

// Debug

$grid_debug: true;

// Content wrapper

.wrapper {
    width: 90%;
    @include at-breakpoint($l){ 
        width: 90%;
        max-width: 1100px; 
    }
}

    .wrapper--central{
        margin: 0 auto;
    }

    .wrapper--thin{
        max-width: 800px; 
    }

// Grid setup
// Establish grids at each breakpoint

$default_grid: (
    options (
        columns         6,
        suffix          null,
        breakpoint      null,
        gutter          size(1)
    ),
    sizes (
        whole           true,
        halfs           true,
        thirds          true,
        quarters        true,
        sixths          true
    )
);

@include generate_grid($default_grid);

$medium_grid: (
    options (
        columns         12,
        suffix          'm',
        breakpoint      $m,
        gutter          size(1)
    ),  
    sizes (
        whole           true,
        halfs           true,
        thirds          true,
        quarters        true,
        sixths          true,
        eights          true,
        twelfths        true
    )
);

@include generate_grid($medium_grid);


$large_grid: (
    options (
        columns         12,
        suffix          'l',
        breakpoint      $l,
        gutter          size(1)
    ),
    sizes (
        whole           true,
        halfs           true,
        thirds          true,
        quarters        true,
        sixths          true,
        eights          true,
        twelfths        true
    )
);

@include generate_grid($large_grid);

$xtralarge_grid: (
    options (
        columns         12,
        suffix          'xl',
        breakpoint      $xl,
        gutter          size(1)
    ),
    sizes (
        whole           true,
        halfs           true,
        thirds          true,
        quarters        true,
        sixths          true,
        eights          true,
        twelfths        true
    )
);

@include generate_grid($xtralarge_grid);

