/**
 * _imgs.scss
 * Global Image values
 * Default captions e.t.c
 */

// Responsive Images

img{ 
    width: auto;  /* IE8 Fix */
    max-width: 100%; 
    height: auto;
    display: block;
}  

a img{
    border: 0;
}


figure{
    display: inline-block;
    margin-right: size(1);
    margin-bottom: size(1);
}

    figcaption{
        padding: size(0.3);
        background: $clr_green_dark;
        background: rgba($clr_green_dark,0.75);
        color: #fff;
        position: absolute;
        bottom: size(0.5);
        left: 0;
    }

    figure img{
        display: block;
    }