/**
 * navigation.scss
 * All nav menu styles go here
 * Currently the Dropdown only supports 1 level
 */

/**
 * Main Menu
 */

.main-menu{
    list-style: none;
    margin: 0 0 size(1) 0;
}
    
    .main-menu__item{
        font-family: $heading_font;
        text-transform: uppercase;
        font-size: typesize(12);
        text-align: right;
        border-bottom: 1px solid darken($clr_sidebar_bg,10%);
        padding: size(0.25);

        &:after{
            content: "";
            display: inline-block;
            margin: 0 0 0 size(0.5);
            width: 0px;
            height: 0px;
            border-left: 13px solid #fff;
            border-bottom: 13px solid darken($clr_sidebar_bg,10%);
        }
    }

        .main-menu__item a{
            font-weight: $medium;
            color: darken($clr_sidebar_bg,30%);
        }
    
    .main-menu__item--active{
        
        &:after{
            content: "";
            display: inline-block;
            margin: 0 0 0 size(0.5);
            width: 0px;
            height: 0px;
            border-left: 13px solid #fff;
            border-bottom: 13px solid $clr_brand_primary;
        }
    }

        .main-menu__item--active a{
            color: $clr_brand_secondary;
        }

/**
 * Sub Menu
 */

.sub-menu{
    list-style: none;
    margin: 0;
}

    .sub-menu__item{
        font-family: $heading_font;
        text-transform: uppercase;
        font-size: typesize(12);
        //border-bottom: 1px solid darken($clr_sidebar_bg,10%);
        padding: size(0.25);
    }

        .sub-menu__item a{
            transition: .2s;
            font-weight: $medium;
            color: darken($clr_sidebar_bg,30%);

            &:hover{
                color: $clr_green_dark;
                text-decoration: underline;
            }
        }

        .sub-menu__item--active a{
            color: $clr_brand_secondary;
        }

