
.sidr {
    /* Default Settings */
    background: $clr_sidebar_bg;
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 260px;
    overflow-x: none;
    overflow-y: auto;

    &.right {
        left: auto;
        right: -310px;
    }

    &.left {
        left: -310px;
        right: auto;
    }

}