/* Styles for Slick */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	touch-callout: none; 
	user-select: none;
	touch-action: pan-y; 
	tap-highlight-color: transparent; 
}

.slick-list { 
	position: relative; 
	overflow: hidden; 
	display: block; 
	margin: 0; 
	padding: 0; 
	&:focus { 
		outline: none; 
	}
}

.slick-loading .slick-list { 
	height: 450px;
	overflow: hidden;
	background: $clr_brand_primary; 
}

.slick-list.dragging { 
	cursor: pointer; 
	cursor: hand; 
}

.slick-slider .slick-list, 
.slick-track, 
.slick-slide, 
.slick-slide img { 
	display: block;
	transform: translate3d(0, 0, 0); 
}

.slick-track { 
	position: relative; 
	left: 0; 
	top: 0; 
	display: block; 
	zoom: 1; 

	@extend .clear;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none; 

	img {
		display: block;
		pointer-events: none;
	}
}

.slick-slide .slick-loading img { display: none; }
.slick-slide .dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }