/**
 * _tables.scss
 * Table styling
 */

table { 
    width: 100%;
    border: 1px solid #ccc;
    background: #f1f1f1;
    margin: size(1) 0;
    font-size: typesize(1);
    border-collapse: collapse;
}

    thead{
        background: $clr_default;
        color: #fff;
        text-align: left;
    }

    th,td{
        border: 1px solid #ccc;
        padding: 5px;
    }

    th{
        font-weight: $medium;       
        font-family: $heading_font;
        font-size: typesize(1.2);
    }

    .table-column--thin{
        width: 15%;
    }


.system-finishes{
    @extend .clear;
    
    background: #f1f1f1;
    margin: size(1) 0;
    font-size: typesize(1);
}
    .system-finishes--large-device{
        display: none;
        @include at-breakpoint($xl){
            border-bottom: 1px solid #ccc;
            display: block;
        }
    }

    .system-finishes--small-device{   
        display: block;
        @include at-breakpoint($xl){
            display: none;
        }
    }

    .system-finishes__container{
    }

        .system-finishes__heading{
            color: white;
            padding: 5px;
            background: $clr_default;
            margin-bottom: 0;
        }
        .system-finishes__cell{
            width: 100%;
            padding: 5px;
        }

            .system-finishes__cell--set-height{
                border-right: 1px solid #ccc;
                border-left: 1px solid #ccc;
                height: size(2);
            }

            .system-finishes__cell--vert-center{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }