
/**
 * typography.scss
 * all base font styles,
 * paragraphs, headings, lists
 */

// Shared paragraph sizes

p,
ul,
ol,
input, 
textarea{
    font-weight: $medium;
    font-size: $size_p;
}

// Paragraph Styles

p{
    margin-bottom: size(1); 
}

// Big text ideal for the first paragraph in an article

.lead{
    font-size: $size_lead;
    font-weight: $semibold;
}

// Small type ideal for captions

.small{
    font-size: $size_small;
}

// Links

a,
a:visited{
    color: $link;
    text-decoration: none;
}

a:hover{
    color: $link_hover;
    text-decoration: none;
}

// Headings

h1,h2,h3,h4,h5,h6{
    font-family: $heading_font;
    font-weight: $semibold;
    line-height: 1.3;
    margin-bottom: size(1);
    color: $clr_brand_primary;
}

h1{ 
    color: $clr_brand_primary;
    font-size: $size_h1;
}

h2{ 
    color: $clr_brand_secondary;
    font-size: $size_h2;
}

h3{ 
    font-size: $size_h3;
}

h4{ 
    font-size: $size_h4;
}

// Text transforms

strong{ font-weight: $semibold; }

em{ font-style: italic; }

// Lists

ul {    
    list-style-type: disc;
    margin: 0 0 size(1) size(1);
}

ol {
    list-style-type: decimal;
    font-weight: normal;
    margin: 0 0 size(1) size(1);
}

//.wf-loading{visibility:hidden}

blockquote{
    margin: size(1);

    h2,
    h3,
    h4{
        color: $clr_green_dark;
        font-size: typesize(14);
        margin: 0;
    }

    p{
        color: $clr_blue_gray;
        font-size: typesize(12);
    }
}
