/*
 * Wordpress Specific CSS
 * Required if the theme is to go on the wp.org repo
 */

.alignleft{
    float: none;
    display: block;
}

.alignright{
    float: none;
    display: block;
}

.wp-caption{
    background: $clr_brand_secondary;
}

    .wp-caption-text{
        font-size: typesize(16);
        color: #fff;
    }

.sticky{
    font-weight: bold;
} 

.gallery-caption{
    background: $clr_brand_secondary;
}

.bypostauthor{
    font-weight: bold;
}

.aligncenter{
    margin: 0 auto;
}