/*
Theme Name:     Insuletics Ltd
Theme URI:      http://github.com/roikles/flexbones
Description:    A responsive WordPress theme for Insuletics
Author:         Code Blue Digital
Author URI:     http://www.codebluedigital.com
Version:        1
License:        All work is the property of Code Blue Digital
License URI:    n/a
*/
/**
    ________          __                         
   / ____/ /__  _  __/ /_  ____  ____  ___  _____
  / /_  / / _ \| |/_/ __ \/ __ \/ __ \/ _ \/ ___/
 / __/ / /  __/>  </ /_/ / /_/ / / / /  __(__  ) 
/_/   /_/\___/_/|_/_.___/\____/_/ /_/\___/____/  
                                                 
 */
/**
 * Grid functions and mixins
 */
/**
 * Set defaults incase they aren't defined
 */
/**
 * Clearfix
 */
/**
 * Works out the percent width of columns
 * (gutters can be any unit but columns are always percent bases)
 */
/**
 * Gutter Width
 * Sets gutter width to 0 if not set.
 */
/**
 * at-breakpoint
 * a mixin for outputting inline media queries
 * Just supply a Sass list as an argument with a min/max
 */
/**
 * Span Columns
 * Used to set grids semantically from within 
 * the stylesheet with no additional HTML markup
 */
/**
 * Push
 * Modular push system, only use what you need to 
 */
/**
 * Grid wrapper
 */
/**
 * Grid with no gutters
 */
/**
 * Float all items beginning with the grid prefix
 * e.g. 'col--'

 * 
 */
/**
 * Generate grid
 * pulls together the grid wrapper, columns and gutter settings
 * call once per required breakpoint
 */
/**
 * Define shape mixins here
 */
/**
 * Define xbrowser opacity
 */
/**
 * __base.scss
 * Main configuration
 */
/**
 * colour.scss
 * define basic colours and then apply them to vars
 * prefix colour variables with 'clr'
 */
/* Blues */
/* Greens */
/* Misc */
/**
 * _reset.scss
 * CSS reset
 * Nothing fancy
 */
* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

/**
 * _grid.scss
 * Responsive grids setup
 */
.wrapper {
  width: 90%; }
  @media (min-width: 881px) {
    .wrapper {
      width: 90%;
      max-width: 1100px; } }

.wrapper--central {
  margin: 0 auto; }

.wrapper--thin {
  max-width: 800px; }

/**
         * Whole
         */
.col--one-whole {
  width: 100%; }

/**
         * Half
         */
.col--one-half, .col--two-quarters, .col--three-sixths {
  width: 50%; }

/**
         * Thirds
         */
.col--one-third, .col--two-sixths {
  width: 33.3333333333%; }

.col--two-thirds, .col--four-sixths {
  width: 66.6666666667%; }

/**
         * Quarters
         */
.col--one-quarter {
  width: 25%; }

.col--three-quarters {
  width: 75%; }

/**
         * Sixths
         */
.col--one-sixth {
  width: 16.6666666667%; }

.col--five-sixths {
  width: 83.3333333333%; }

/**
     * Omega class
     */
.col--omega {
  float: right !important; }

/**
         * Half
         */
.push--one-half, .push--two-quarters, .push--three-sixths {
  margin-left: 50%; }

/**
         * Thirds
         */
.push--one-third, .push--two-sixths {
  margin-left: 33.3333333333%; }

.push--two-thirds, .push--four-sixths {
  margin-left: 66.6666666667%; }

/**
         * Quarters
         */
.push--one-quarter {
  margin-left: 25%; }

.push--three-quarters {
  margin-left: 75%; }

/**
         * Sixths
         */
.push--one-sixth {
  margin-left: 16.6666666667%; }

.push--five-sixths {
  margin-left: 83.3333333333%; }

.grid {
  *zoom: 1;
  margin-left: -24px;
  margin-left: -2.4rem; }
  .grid:before, .grid:after {
    content: "";
    display: table; }
  .grid:after {
    clear: both; }

[class^="col"] {
  position: relative;
  float: left;
  padding-left: 24px;
  padding-left: 2.4rem; }

.grid--full {
  margin-left: 0; }
  .grid--full > [class^="col"] {
    padding-left: 0; }

@media (min-width: 641px) {
  /**
         * Whole--m
         */
  /**
         * Half--m
         */
  /**
         * Thirds--m
         */
  /**
         * Quarters--m
         */
  /**
         * Sixths--m
         */
  /**
         * Eights--m
         */
  /**
         * Twelfths--m
         */
  /**
     * Omega class--m
     */
  /**
         * Half--m
         */
  /**
         * Thirds--m
         */
  /**
         * Quarters--m
         */
  /**
         * Sixths--m
         */
  /**
         * Eights--m
         */
  /**
         * Twelfths--m
         */
  .col--one-whole--m {
    width: 100%; }
  .col--one-half--m, .col--two-quarters--m, .col--three-sixths--m, .col--four-eighths--m, .col--six-twelfths--m {
    width: 50%; }
  .col--one-third--m, .col--two-sixths--m, .col--four-twelfths--m {
    width: 33.3333333333%; }
  .col--two-thirds--m, .col--four-sixths--m, .col--eight-twelfths--m {
    width: 66.6666666667%; }
  .col--one-quarter--m, .col--two-eighths--m, .col--three-twelfths--m {
    width: 25%; }
  .col--three-quarters--m, .col--six-eighths--m, .col--nine-twelfths--m {
    width: 75%; }
  .col--one-sixth--m, .col--two-twelfths--m {
    width: 16.6666666667%; }
  .col--five-sixths--m, .col--ten-twelfths--m {
    width: 83.3333333333%; }
  .col--one-eighth--m {
    width: 12.5%; }
  .col--three-eighths--m {
    width: 37.5%; }
  .col--five-eighths--m {
    width: 62.5%; }
  .col--seven-eighths--m {
    width: 75%; }
  .col--one-twelfth--m {
    width: 8.3333333333%; }
  .col--five-twelfths--m {
    width: 41.6666666667%; }
  .col--seven-twelfths--m {
    width: 58.3333333333%; }
  .col--eleven-twelfths--m {
    width: 75%; }
  .col--omega--m {
    float: right !important; }
  .push--one-half--m, .push--two-quarters--m, .push--three-sixths--m, .push--four-eighths--m, .push--six-twelfths--m {
    margin-left: 50%; }
  .push--one-third--m, .push--two-sixths--m, .push--four-twelfths--m {
    margin-left: 33.3333333333%; }
  .push--two-thirds--m, .push--four-sixths--m, .push--eight-twelfths--m {
    margin-left: 66.6666666667%; }
  .push--one-quarter--m, .push--two-eighths--m, .push--three-twelfths--m {
    margin-left: 25%; }
  .push--three-quarters--m, .push--six-eighths--m, .push--nine-twelfths--m {
    margin-left: 75%; }
  .push--one-sixth--m, .push--two-twelfths--m {
    margin-left: 16.6666666667%; }
  .push--five-sixths--m, .push--ten-twelfths--m {
    margin-left: 83.3333333333%; }
  .push--one-eighth--m {
    margin-left: 12.5%; }
  .push--three-eighths--m {
    margin-left: 37.5%; }
  .push--five-eighths--m {
    margin-left: 62.5%; }
  .push--seven-eighths--m {
    margin-left: 75%; }
  .push--one-twelfth--m {
    margin-left: 8.3333333333%; }
  .push--five-twelfths--m {
    margin-left: 41.6666666667%; }
  .push--seven-twelfths--m {
    margin-left: 58.3333333333%; }
  .push--eleven-twelfths--m {
    margin-left: 75%; }
  .grid {
    *zoom: 1;
    margin-left: -24px;
    margin-left: -2.4rem; }
    .grid:before, .grid:after {
      content: "";
      display: table; }
    .grid:after {
      clear: both; }
  [class^="col"] {
    position: relative;
    float: left;
    padding-left: 24px;
    padding-left: 2.4rem; }
  .grid--full {
    margin-left: 0; }
    .grid--full > [class^="col"] {
      padding-left: 0; } }

@media (min-width: 881px) {
  /**
         * Whole--l
         */
  /**
         * Half--l
         */
  /**
         * Thirds--l
         */
  /**
         * Quarters--l
         */
  /**
         * Sixths--l
         */
  /**
         * Eights--l
         */
  /**
         * Twelfths--l
         */
  /**
     * Omega class--l
     */
  /**
         * Half--l
         */
  /**
         * Thirds--l
         */
  /**
         * Quarters--l
         */
  /**
         * Sixths--l
         */
  /**
         * Eights--l
         */
  /**
         * Twelfths--l
         */
  .col--one-whole--l {
    width: 100%; }
  .col--one-half--l, .col--two-quarters--l, .col--three-sixths--l, .col--four-eighths--l, .col--six-twelfths--l {
    width: 50%; }
  .col--one-third--l, .col--two-sixths--l, .col--four-twelfths--l {
    width: 33.3333333333%; }
  .col--two-thirds--l, .col--four-sixths--l, .col--eight-twelfths--l {
    width: 66.6666666667%; }
  .col--one-quarter--l, .col--two-eighths--l, .col--three-twelfths--l {
    width: 25%; }
  .col--three-quarters--l, .col--six-eighths--l, .col--nine-twelfths--l {
    width: 75%; }
  .col--one-sixth--l, .col--two-twelfths--l {
    width: 16.6666666667%; }
  .col--five-sixths--l, .col--ten-twelfths--l {
    width: 83.3333333333%; }
  .col--one-eighth--l {
    width: 12.5%; }
  .col--three-eighths--l {
    width: 37.5%; }
  .col--five-eighths--l {
    width: 62.5%; }
  .col--seven-eighths--l {
    width: 75%; }
  .col--one-twelfth--l {
    width: 8.3333333333%; }
  .col--five-twelfths--l {
    width: 41.6666666667%; }
  .col--seven-twelfths--l {
    width: 58.3333333333%; }
  .col--eleven-twelfths--l {
    width: 75%; }
  .col--omega--l {
    float: right !important; }
  .push--one-half--l, .push--two-quarters--l, .push--three-sixths--l, .push--four-eighths--l, .push--six-twelfths--l {
    margin-left: 50%; }
  .push--one-third--l, .push--two-sixths--l, .push--four-twelfths--l {
    margin-left: 33.3333333333%; }
  .push--two-thirds--l, .push--four-sixths--l, .push--eight-twelfths--l {
    margin-left: 66.6666666667%; }
  .push--one-quarter--l, .push--two-eighths--l, .push--three-twelfths--l {
    margin-left: 25%; }
  .push--three-quarters--l, .push--six-eighths--l, .push--nine-twelfths--l {
    margin-left: 75%; }
  .push--one-sixth--l, .push--two-twelfths--l {
    margin-left: 16.6666666667%; }
  .push--five-sixths--l, .push--ten-twelfths--l {
    margin-left: 83.3333333333%; }
  .push--one-eighth--l {
    margin-left: 12.5%; }
  .push--three-eighths--l {
    margin-left: 37.5%; }
  .push--five-eighths--l {
    margin-left: 62.5%; }
  .push--seven-eighths--l {
    margin-left: 75%; }
  .push--one-twelfth--l {
    margin-left: 8.3333333333%; }
  .push--five-twelfths--l {
    margin-left: 41.6666666667%; }
  .push--seven-twelfths--l {
    margin-left: 58.3333333333%; }
  .push--eleven-twelfths--l {
    margin-left: 75%; }
  .grid {
    *zoom: 1;
    margin-left: -24px;
    margin-left: -2.4rem; }
    .grid:before, .grid:after {
      content: "";
      display: table; }
    .grid:after {
      clear: both; }
  [class^="col"] {
    position: relative;
    float: left;
    padding-left: 24px;
    padding-left: 2.4rem; }
  .grid--full {
    margin-left: 0; }
    .grid--full > [class^="col"] {
      padding-left: 0; } }

@media (min-width: 1400px) {
  /**
         * Whole--xl
         */
  /**
         * Half--xl
         */
  /**
         * Thirds--xl
         */
  /**
         * Quarters--xl
         */
  /**
         * Sixths--xl
         */
  /**
         * Eights--xl
         */
  /**
         * Twelfths--xl
         */
  /**
     * Omega class--xl
     */
  /**
         * Half--xl
         */
  /**
         * Thirds--xl
         */
  /**
         * Quarters--xl
         */
  /**
         * Sixths--xl
         */
  /**
         * Eights--xl
         */
  /**
         * Twelfths--xl
         */
  .col--one-whole--xl {
    width: 100%; }
  .col--one-half--xl, .col--two-quarters--xl, .col--three-sixths--xl, .col--four-eighths--xl, .col--six-twelfths--xl {
    width: 50%; }
  .col--one-third--xl, .col--two-sixths--xl, .col--four-twelfths--xl {
    width: 33.3333333333%; }
  .col--two-thirds--xl, .col--four-sixths--xl, .col--eight-twelfths--xl {
    width: 66.6666666667%; }
  .col--one-quarter--xl, .col--two-eighths--xl, .col--three-twelfths--xl {
    width: 25%; }
  .col--three-quarters--xl, .col--six-eighths--xl, .col--nine-twelfths--xl {
    width: 75%; }
  .col--one-sixth--xl, .col--two-twelfths--xl {
    width: 16.6666666667%; }
  .col--five-sixths--xl, .col--ten-twelfths--xl {
    width: 83.3333333333%; }
  .col--one-eighth--xl {
    width: 12.5%; }
  .col--three-eighths--xl {
    width: 37.5%; }
  .col--five-eighths--xl {
    width: 62.5%; }
  .col--seven-eighths--xl {
    width: 75%; }
  .col--one-twelfth--xl {
    width: 8.3333333333%; }
  .col--five-twelfths--xl {
    width: 41.6666666667%; }
  .col--seven-twelfths--xl {
    width: 58.3333333333%; }
  .col--eleven-twelfths--xl {
    width: 75%; }
  .col--omega--xl {
    float: right !important; }
  .push--one-half--xl, .push--two-quarters--xl, .push--three-sixths--xl, .push--four-eighths--xl, .push--six-twelfths--xl {
    margin-left: 50%; }
  .push--one-third--xl, .push--two-sixths--xl, .push--four-twelfths--xl {
    margin-left: 33.3333333333%; }
  .push--two-thirds--xl, .push--four-sixths--xl, .push--eight-twelfths--xl {
    margin-left: 66.6666666667%; }
  .push--one-quarter--xl, .push--two-eighths--xl, .push--three-twelfths--xl {
    margin-left: 25%; }
  .push--three-quarters--xl, .push--six-eighths--xl, .push--nine-twelfths--xl {
    margin-left: 75%; }
  .push--one-sixth--xl, .push--two-twelfths--xl {
    margin-left: 16.6666666667%; }
  .push--five-sixths--xl, .push--ten-twelfths--xl {
    margin-left: 83.3333333333%; }
  .push--one-eighth--xl {
    margin-left: 12.5%; }
  .push--three-eighths--xl {
    margin-left: 37.5%; }
  .push--five-eighths--xl {
    margin-left: 62.5%; }
  .push--seven-eighths--xl {
    margin-left: 75%; }
  .push--one-twelfth--xl {
    margin-left: 8.3333333333%; }
  .push--five-twelfths--xl {
    margin-left: 41.6666666667%; }
  .push--seven-twelfths--xl {
    margin-left: 58.3333333333%; }
  .push--eleven-twelfths--xl {
    margin-left: 75%; }
  .grid {
    *zoom: 1;
    margin-left: -24px;
    margin-left: -2.4rem; }
    .grid:before, .grid:after {
      content: "";
      display: table; }
    .grid:after {
      clear: both; }
  [class^="col"] {
    position: relative;
    float: left;
    padding-left: 24px;
    padding-left: 2.4rem; }
  .grid--full {
    margin-left: 0; }
    .grid--full > [class^="col"] {
      padding-left: 0; } }

/**
 * typography.scss
 * all base font styles,
 * paragraphs, headings, lists
 */
p, ul, ol, input, textarea {
  font-weight: 400;
  font-size: 14px;
  font-size: 1.4rem; }

p {
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }

.lead, .ft-project--home__info__title, .backdrop-text > p:first-child {
  font-size: 20px;
  font-size: 2rem;
  font-weight: 600; }

.small {
  font-size: 12px;
  font-size: 1.2rem; }

a, a:visited {
  color: #47849d;
  text-decoration: none; }

a:hover {
  color: #37677a;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
  color: #50b948; }

h1 {
  color: #50b948;
  font-size: 34px;
  font-size: 3.4rem; }

h2 {
  color: #00853e;
  font-size: 26px;
  font-size: 2.6rem; }

h3 {
  font-size: 22px;
  font-size: 2.2rem; }

h4 {
  font-size: 18px;
  font-size: 1.8rem; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

ul {
  list-style-type: disc;
  margin: 0 0 24px 24px;
  margin: 0 0 2.4rem 2.4rem; }

ol {
  list-style-type: decimal;
  font-weight: normal;
  margin: 0 0 24px 24px;
  margin: 0 0 2.4rem 2.4rem; }

blockquote {
  margin: 24px;
  margin: 2.4rem; }
  blockquote h2, blockquote h3, blockquote h4 {
    color: #00853e;
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0; }
  blockquote p {
    color: #47849d;
    font-size: 12px;
    font-size: 1.2rem; }

/**
 * _alerts.scss
 * Default alerts
 */
.debug {
  background: #e8b71a;
  color: white;
  width: 60px;
  position: fixed;
  z-index: 100000;
  bottom: 5px;
  right: 5px;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid white; }
  .debug:before {
    content: "Small";
    padding: 7px 5px 5px 5px;
    display: block; }
  @media (min-width: 641px) {
    .debug {
      background: #1fda9a;
      width: 80px; }
      .debug:before {
        content: "Medium"; } }
  @media (min-width: 881px) {
    .debug {
      background: #28abe3;
      width: 100px; }
      .debug:before {
        content: "Large"; } }
  @media (min-width: 1400px) {
    .debug {
      background: #800851;
      width: 120px; }
      .debug:before {
        content: "Xtra Large"; } }

/**
 * _buttons.scss
 * Buttons
 */
.btn {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: inherit;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  background: #e6c903;
  border: none;
  padding: 6px 15px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  -webkit-transition: background-color 0.4s ease;
          transition: background-color 0.4s ease; }
  @media (min-width: 641px) {
    .btn {
      -webkit-border-radius: 50px;
              border-radius: 50px;
      padding: 12px 25px; } }
  .btn:hover {
    text-decoration: none;
    background: #d7bb03;
    color: #fff;
    cursor: pointer; }
  .btn:visited {
    color: #fff; }
  .btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn--case-study-link {
  margin: 0 auto;
  background: #47849d; }
  .btn--case-study-link:hover {
    text-decoration: none;
    background: #427c92;
    color: #fff;
    cursor: pointer; }
  .btn--case-study-link:visited {
    color: #fff; }
  .btn--case-study-link:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }

.clear, div.validation_message, .ginput_complex, .date-field, .clear-multi, .system-finishes, .slick-track, .no-billboard header {
  *zoom: 1; }
  .clear:before, div.validation_message:before, .ginput_complex:before, .date-field:before, .clear-multi:before, .system-finishes:before, .slick-track:before, .no-billboard header:before, .clear:after, div.validation_message:after, .ginput_complex:after, .date-field:after, .clear-multi:after, .system-finishes:after, .slick-track:after, .no-billboard header:after {
    content: "";
    display: table; }
  .clear:after, div.validation_message:after, .ginput_complex:after, .date-field:after, .clear-multi:after, .system-finishes:after, .slick-track:after, .no-billboard header:after {
    clear: both; }

/**
 * _forms/scss
 * Bassic form css setup
 */
label {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  margin: 0 0 12px 0;
  margin: 0 0 1.2rem 0; }

input, select, textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 16px;
  font-size: 1.6rem;
  outline: none; }

input[type="file"] {
  background: none;
  border: none;
  font-size: 12px;
  font-size: 1.2rem; }

input {
  display: inline-block;
  margin: 0 0 24px 0;
  margin: 0 0 2.4rem 0;
  width: 100%;
  border: none;
  padding: 6px;
  padding: 0.6rem;
  outline: none;
  background: #fbfbfb;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #949393;
  -webkit-transition: 0.2s;
          transition: 0.2s; }
  input:focus {
    background: #f7f6f6; }

textarea {
  background: #fbfbfb;
  min-height: 144px;
  min-height: 14.4rem;
  width: 100%;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #a6a6a6;
  padding: 6px;
  padding: 0.6rem;
  margin: 0 0 24px 0;
  margin: 0 0 2.4rem 0;
  -webkit-transition: 0.2s;
          transition: 0.2s; }
  textarea:focus {
    background: #f7f6f6; }

form {
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }

/**
 * Gravity Forms overrides
 */
.gform_fields {
  margin: 0;
  list-style-type: none; }

/* Validation */
.gfield_required {
  color: #e74c3d; }

.gform_validation_container {
  display: none;
  visibility: hidden; }

.validation_error {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 24px;
  line-height: 2.4rem;
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
  color: #e74c3d; }

.gfield_error {
  background: #fdf3f3;
  padding: 10px;
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }
  .gfield_error .gfield_description {
    margin-bottom: 0; }

div.validation_message {
  margin-top: 0;
  color: #e74c3d; }

/* Character counter for textarea */
.charleft, .ginput_complex span label, .gfield_date_day label, .gfield_date_month label, .gfield_date_year label {
  font-weight: 100;
  text-align: right;
  color: #c7c7c7;
  margin-top: -24px;
  margin-top: -2.4rem;
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }

/* Field Sizes */
@media (min-width: 641px) {
  .small {
    width: 50%; }
  .medium {
    width: 70%; }
  .large {
    width: 100%; } }

@media (min-width: 881px) {
  .small {
    width: 45%; }
  .medium {
    width: 75%; } }

@media (min-width: 1400px) {
  .small {
    width: 35%; }
  .medium {
    width: 65%; } }

.ginput_complex span {
  float: left;
  width: 48%;
  display: block; }

.ginput_left {
  margin-right: 1%; }

.ginput_right {
  margin-left: 1%; }

.gfield_date_day, .gfield_date_month, .gfield_date_year {
  float: left;
  width: 15%;
  margin-right: 1%; }

.clear-multi {
  width: 100%; }

.gfield_description {
  margin-top: -12px;
  margin-top: -1.2rem;
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
  color: #bfbfbf;
  font-size: 10px;
  font-size: 1rem; }

/**
 * Search
 * Search field and button
 */
.search__input {
  display: inline-block;
  margin: 0;
  width: 68%;
  border: 1px solid #ccc;
  appearance: searchfield; }

.search__input--sidebar {
  padding: 3px;
  padding: 0.3rem;
  font-size: 13px;
  -webkit-border-radius: 0;
          border-radius: 0; }

.search__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  margin: 0;
  width: 30%;
  font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border: 1px solid #e6c903;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: #e6c903;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  text-transform: uppercase; }
  .search__button:hover {
    cursor: pointer; }

.search__button--sidebar {
  padding: 3px;
  padding: 0.3rem;
  font-size: 13px; }

/**
 * _imgs.scss
 * Global Image values
 * Default captions e.t.c
 */
img {
  width: auto;
  /* IE8 Fix */
  max-width: 100%;
  height: auto;
  display: block; }

a img {
  border: 0; }

figure {
  display: inline-block;
  margin-right: 24px;
  margin-right: 2.4rem;
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }

figcaption {
  padding: 7px;
  padding: 0.72rem;
  background: #00853e;
  background: rgba(0, 133, 62, 0.75);
  color: #fff;
  position: absolute;
  bottom: 12px;
  bottom: 1.2rem;
  left: 0; }

figure img {
  display: block; }

/**
 * navigation.scss
 * All nav menu styles go here
 * Currently the Dropdown only supports 1 level
 */
/**
 * Main Menu
 */
.main-menu {
  list-style: none;
  margin: 0 0 24px 0;
  margin: 0 0 2.4rem 0; }

.main-menu__item {
  font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 1.2rem;
  text-align: right;
  border-bottom: 1px solid #d9d9d9;
  padding: 6px;
  padding: 0.6rem; }
  .main-menu__item:after {
    content: "";
    display: inline-block;
    margin: 0 0 0 12px;
    margin: 0 0 0 1.2rem;
    width: 0px;
    height: 0px;
    border-left: 13px solid #fff;
    border-bottom: 13px solid #d9d9d9; }

.main-menu__item a {
  font-weight: 400;
  color: #a6a6a6; }

.main-menu__item--active:after {
  content: "";
  display: inline-block;
  margin: 0 0 0 12px;
  margin: 0 0 0 1.2rem;
  width: 0px;
  height: 0px;
  border-left: 13px solid #fff;
  border-bottom: 13px solid #50b948; }

.main-menu__item--active a {
  color: #00853e; }

/**
 * Sub Menu
 */
.sub-menu {
  list-style: none;
  margin: 0; }

.sub-menu__item {
  font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 6px;
  padding: 0.6rem; }

.sub-menu__item a {
  -webkit-transition: 0.2s;
          transition: 0.2s;
  font-weight: 400;
  color: #a6a6a6; }
  .sub-menu__item a:hover {
    color: #00853e;
    text-decoration: underline; }

.sub-menu__item--active a {
  color: #00853e; }

/**
 * _tables.scss
 * Table styling
 */
table {
  width: 100%;
  border: 1px solid #ccc;
  background: #f1f1f1;
  margin: 24px 0;
  margin: 2.4rem 0;
  font-size: 1px;
  font-size: 0.1rem;
  border-collapse: collapse; }

thead {
  background: #50b948;
  color: #fff;
  text-align: left; }

th, td {
  border: 1px solid #ccc;
  padding: 5px; }

th {
  font-weight: 400;
  font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1px;
  font-size: 0.12rem; }

.table-column--thin {
  width: 15%; }

.system-finishes {
  background: #f1f1f1;
  margin: 24px 0;
  margin: 2.4rem 0;
  font-size: 1px;
  font-size: 0.1rem; }

.system-finishes--large-device {
  display: none; }
  @media (min-width: 1400px) {
    .system-finishes--large-device {
      border-bottom: 1px solid #ccc;
      display: block; } }

.system-finishes--small-device {
  display: block; }
  @media (min-width: 1400px) {
    .system-finishes--small-device {
      display: none; } }

.system-finishes__heading {
  color: white;
  padding: 5px;
  background: #50b948;
  margin-bottom: 0; }

.system-finishes__cell {
  width: 100%;
  padding: 5px; }

.system-finishes__cell--set-height {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  height: 48px;
  height: 4.8rem; }

.system-finishes__cell--vert-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

/*
 * Wordpress Specific CSS
 * Required if the theme is to go on the wp.org repo
 */
.alignleft {
  float: none;
  display: block; }

.alignright {
  float: none;
  display: block; }

.wp-caption {
  background: #00853e; }

.wp-caption-text {
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff; }

.sticky {
  font-weight: bold; }

.gallery-caption {
  background: #00853e; }

.bypostauthor {
  font-weight: bold; }

.aligncenter {
  margin: 0 auto; }

/* Styles for Slick */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }

.slick-loading .slick-list {
  height: 450px;
  overflow: hidden;
  background: #50b948; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  .slick-slide img {
    display: block;
    pointer-events: none; }

.slick-slide .slick-loading img {
  display: none; }

.slick-slide .dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.sidr {
  /* Default Settings */
  background: #f3f3f3;
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto; }
  .sidr.right {
    left: auto;
    right: -310px; }
  .sidr.left {
    left: -310px;
    right: auto; }

@font-face {
  font-family: 'icomoon';
  src: url('assets/fonts/icomoon.eot?fg2av5');
  src: url('assets/fonts/icomoon.eot?#iefixfg2av5') format('embedded-opentype'), url('assets/fonts/icomoon.woff?fg2av5') format('woff'), url('assets/fonts/icomoon.ttf?fg2av5') format('truetype'), url('assets/fonts/icomoon.svg?fg2av5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  -webkit-transition: 0.2s;
          transition: 0.2s;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-linkedin:before {
  content: "\e602"; }

.icon-facebook:before {
  content: "\e600"; }

.icon-twitter:before {
  content: "\e601"; }

/**
 * html-body.scss
 * styles applied to the html and body elements
 */
html {
  font-size: 62.5%;
  line-height: 1.5; }
  @media (min-width: 641px) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 881px) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 1400px) {
    html {
      font-size: 75%; } }

body {
  color: #2e3131;
  font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  position: relative;
  width: 100%; }

/**
 * _header.scss
 * Header specific declarations
 */
header {
  display: block;
  height: 50px; }
  @media (min-width: 881px) {
    header {
      display: none; } }

.no-billboard header {
  -webkit-transition: 0.2s;
          transition: 0.2s;
  background: #00853e;
  z-index: 5; }
  .no-billboard header > div {
    -webkit-transition: 0.2s;
            transition: 0.2s;
    background: #00853e;
    background: rgba(0, 133, 62, 0.6);
    right: 0;
    position: fixed; }

.no-billboard header.triggered > div {
  background: #00853e; }

.has-billboard header {
  -webkit-transition: 0.2s;
          transition: 0.2s;
  background: #00853e;
  background: rgba(0, 133, 62, 0.6);
  z-index: 5;
  width: 50px;
  position: fixed;
  top: 0;
  right: 0; }

.has-billboard header.triggered {
  background: #00853e !important; }

.mobile-nav-trigger {
  z-index: 100000;
  -webkit-touch-callout: none;
  padding: 5px;
  width: 50px;
  height: 50px;
  display: block; }

/**
		 * CSS Transitional Navicon
		 * 
		 * The following css is a customised snippet from
		 * http://sarasoueidan.com/blog/navicon-transformicons/
		 * vars can be found in __base.scss and mixins can be found in _shapes.scss
		 *
		 * **Only used on browsers that support CSS Transitions
		 */
.lines-button {
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 12px 6px;
  padding: 1.2rem 0.6rem;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-border-radius: 3px;
  -webkit-border-radius: 0.3428571429rem;
          border-radius: 3px;
          border-radius: 0.3428571429rem; }
  .lines-button:hover {
    opacity: 1; }
  .lines-button:active {
    -webkit-transition: 0;
            transition: 0; }

.lines {
  display: inline-block;
  width: 100%;
  height: 3px;
  height: 0.3428571429rem;
  background: white;
  -webkit-border-radius: 1px;
  -webkit-border-radius: 0.1714285714rem;
          border-radius: 1px;
          border-radius: 0.1714285714rem;
  -webkit-transition: 0.2s;
          transition: 0.2s;
  position: relative;
  /*create the upper and lower lines as pseudo-elements of the middle line*/ }
  .lines:before, .lines:after {
    display: inline-block;
    width: 100%;
    height: 3px;
    height: 0.3428571429rem;
    background: white;
    -webkit-border-radius: 1px;
    -webkit-border-radius: 0.1714285714rem;
            border-radius: 1px;
            border-radius: 0.1714285714rem;
    -webkit-transition: 0.2s;
            transition: 0.2s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 1px center;
    -webkit-transform-origin: 0.1714285714rem center;
        -ms-transform-origin: 1px center;
        -ms-transform-origin: 0.1714285714rem center;
            transform-origin: 1px center;
            transform-origin: 0.1714285714rem center; }
  .lines:before {
    top: 8px;
    top: 0.8rem; }
  .lines:after {
    top: -8px;
    top: -0.8rem; }

.lines-button.x.close .lines {
  /*hide the middle line*/
  background: transparent;
  /*overlay the lines by setting both their top values to 0*/ }
  .lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    top: 0;
    width: 100%; }
  .lines-button.x.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg); }
  .lines-button.x.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg); }

/* Mobile Logo */
.mobile-logo {
  z-index: 5;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;
  bottom: 0;
  height: 35px;
  width: 120px; }
  .mobile-logo img {
    max-height: 45px;
    display: block; }
  @media (min-width: 881px) {
    .mobile-logo {
      display: none; } }

/**
 * _footer.scss
 * Footer specific declarations
 */
footer {
  border-top: 10px solid #50b948;
  background: #00853e; }

.footer-block {
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }
  .footer-block h2, .footer-block h3 {
    color: white;
    font-size: 20px;
    font-size: 2rem; }
  .footer-block p, .footer-block a, .footer-block li {
    color: white;
    margin-bottom: 0;
    padding: 0; }

.footer-block--tech-support ul, .footer-block--news ul {
  margin: 0;
  list-style-type: none;
  padding: 0; }

.footer-block--news li {
  margin-bottom: 9px;
  margin-bottom: 0.96rem; }

/* Accreditations */
.accreditations {
  border-top: 1px solid #d9d9d9;
  position: relative;
  background: white;
  height: 200px; }
  .accreditations ul, .accreditations li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .accreditations li {
    line-height: 200px; }

.single-accreditation {
  position: relative;
  line-height: 200px;
  height: 200px; }

.single-accreditation__link {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 200px;
  display: block; }
  .single-accreditation__link img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.no-csstransforms .single-accreditation__link img {
  top: 25%; }

/**
 * sidebar.scss
 */
.secondary-nav h2, .secondary-nav h3 {
  margin: 24px 0;
  margin: 2.4rem 0; }
@media (min-width: 641px) {
  .secondary-nav h2, .secondary-nav h3 {
    margin-top: 0; } }

.sidebar {
  display: none;
  width: 310px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background: #f3f3f3; }
  @media (min-width: 881px) {
    .sidebar {
      display: block;
      width: 240px; } }
  @media (min-width: 1400px) {
    .sidebar {
      width: 310px; } }

.sidebar-container {
  position: relative;
  height: 100%; }

.sidebar__logo, .sidebar__search, .sidebar__nav, .sidebar__contact {
  margin: 0 24px;
  margin: 0 2.4rem; }

.sidebar__logo {
  padding: 24px 0;
  padding: 2.4rem 0; }
  .sidebar__logo img {
    margin: 0 auto;
    display: block; }

.sidebar__email {
  color: #00853e; }
  .sidebar__email a {
    display: inline-block; }

/**
 * Sidebar contact details
 */
.contact {
  margin-top: 24px;
  margin-top: 2.4rem; }

.contact__item {
  list-style: none;
  margin: 0 0 12px 0;
  margin: 0 0 1.2rem 0;
  text-align: right;
  color: #a6a6a6;
  font-size: 12px;
  font-size: 1.2rem; }

.contact__item h2 {
  margin: 0;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #00853e; }

.contact__btn {
  text-align: center;
  margin: 0 auto; }

.call-to-action {
  padding: 20px;
  color: white;
  margin: 24px 0;
  margin: 2.4rem 0; }
  .call-to-action h2 {
    font-size: 22px;
    font-size: 2.2rem;
    margin: 0; }
  .call-to-action p {
    font-size: 20px;
    font-size: 2rem;
    line-height: 24px;
    line-height: 2.4rem;
    margin-bottom: 0; }
  .call-to-action a {
    color: white; }
  @media (min-width: 641px) {
    .call-to-action {
      margin: 0 0 24px 0;
      margin: 0 0 2.4rem 0; } }

.call-to-action--green {
  background: #50b948; }

.sidebar__block {
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }
  .sidebar__block p {
    margin-bottom: 0; }
  .sidebar__block ul, .sidebar__block li {
    margin: 0;
    list-style-type: none; }
  .sidebar__block li {
    padding: 0;
    margin-bottom: 12px;
    margin-bottom: 1.2rem; }
    .sidebar__block li a {
      color: #bfbfbf;
      -webkit-transition: 0.2s;
              transition: 0.2s; }
  .sidebar__block ul li a:hover, .sidebar__block ul li a:active, .sidebar__block ul li a:focus {
    color: #00853e;
    text-decoration: underline; }
  .sidebar__block .active-item a {
    color: #00853e; }

.no-canvas .sidebar__block a {
  font-weight: 600; }

/**
 * content.scss
 */
/**
 * Container
 * wraps billboard and content
 */
.container {
  width: 100%;
  margin-left: 0;
  /**
     * Large breakpoint that subtracts the sidebar width 
     * from the total content percentage
     */
  /**
     * Xtra-large breakpoint that subtracts the sidebar width 
     * from the total content percentage
     */ }
  @media (min-width: 881px) {
    .container {
      margin-left: 240px;
      width: -webkit-calc(100% - 240px);
      width: calc(100% - 240px); } }
  @media (min-width: 1400px) {
    .container {
      margin-left: 310px;
      width: -webkit-calc(100% - 310px);
      width: calc(100% - 310px); } }

/**
 * Content
 * wraps the main content area of the site
 */
/**
     * Adds top and bottom badding to content 
     * use where appropriate (may actually add to .content)
     */
.content--padded {
  padding: 24px 0;
  padding: 2.4rem 0; }
  @media (min-width: 881px) {
    .content--padded {
      padding: 48px 0;
      padding: 4.8rem 0; } }

.content--case-studies {
  padding-top: 24px;
  padding-top: 2.4rem; }

/**
     * Adds DOUBLE top and bottom badding to content 
     * use where appropriate (may actually add to .content)
     */
.content--padded--2x {
  padding: 48px 0;
  padding: 4.8rem 0; }
  @media (min-width: 881px) {
    .content--padded--2x {
      padding: 96px 0;
      padding: 9.6rem 0; } }

/**
     * Content gradient background modifier
     * Styles are  applied to a pseudoclass to enable bg stacking
     */
.content--gradient {
  color: white; }

/**
     * Content background image modifier
     */
.content--bg-img {
  background-image: url('assets/imgs/cityscape.jpg');
  bockground-position: fixed;
  -webkit-background-size: cover;
          background-size: cover;
  behavior: url(/insuletics/backgroundsize.min.htc);
  background-repeat: no-repeat; }

/**
     * Content with background pattern
     */
.content--bg-tile {
  color: white;
  background: url('assets/imgs/polygon-tile.png') #385b6f; }

/* Contrasting background */
.content--bg-grey {
  background: #f8f8f8; }

.content--bg-green {
  background: #50b948;
  color: white; }

/**
 * Secondary Nav Wrapper
 */
@media (min-width: 881px) {
  .secondary-nav {
    border-left: 1px solid #d9d9d9;
    padding-left: 24px;
    padding-left: 2.4rem; } }

/**
 * _billboard.scss
 * big header box
 */
.no-billboard .billboard-container {
  display: none; }

.billboard-container {
  position: relative;
  min-height: 375px; }
  @media (min-width: 881px) {
    .billboard-container {
      min-height: 450px; } }

.billboard-container--static {
  width: 100%; }

.billboard {
  text-align: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  behavior: url(/insuletics/backgroundsize.min.htc);
  background-position: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  height: 375px; }
  @media (min-width: 881px) {
    .billboard {
      height: 450px; } }

.billboard--slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.billboard__caption {
  z-index: 2;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.no-csstransforms .billboard__caption {
  top: 35%; }

.billboard__background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 204, 79, 0.8); }

/**
     * Modernizr fallback class for IE's
     * lack of support of multiple BG images.
     * requires modernizr.js
     */
.no-multiplebgs .billboard__background {
  background: #12cc4f;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 5-7 */
  filter: alpha(opacity=80); }

.billboard__title {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  color: white;
  font-size: 28px;
  font-size: 2.8rem; }
  @media (min-width: 881px) {
    .billboard__title {
      font-size: 48px;
      font-size: 4.8rem; } }

.billboard__description {
  font-size: 16px;
  font-size: 1.6rem;
  color: white; }
  @media (min-width: 881px) {
    .billboard__description {
      font-size: 20px;
      font-size: 2rem; } }

/**
 * _case-studies-home.scss
 * most recent case studies layout for homepage
 */
/**
 * Featured Case studies (Home page)
 */
/**
     * First full height box that contains the section title
     */
.ft-projects--home__section-title {
  padding: 0 0 48px 0;
  padding: 0 0 4.8rem 0;
  display: table;
  width: 100%;
  /**
         * Add height and pseudoelement arrow to large and up breakpoints
         */ }
  .ft-projects--home__section-title h2 {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-weight: 400; }
  .ft-projects--home__section-title span {
    color: #12cc4f;
    display: block; }
    @media (min-width: 881px) {
      .ft-projects--home__section-title span {
        color: #00853e; } }
  @media (min-width: 881px) {
    .ft-projects--home__section-title {
      background: #12cc4f;
      height: 504px;
      height: 50.4rem;
      padding: 48px;
      padding: 4.8rem; }
      .ft-projects--home__section-title:after {
        content: "";
        position: absolute;
        z-index: 100;
        top: -webkit-calc(50% - 8px);
        top: calc(50% - 8px);
        right: -16px;
        width: 0;
        height: 0;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 16px solid #12cc4f; } }

/**
     * Individual project box
     */
.ft-project--home {
  background-color: #ccc; }

/**
         * Project Info sub box
         */
.ft-project--home__info {
  background: #00853e;
  padding: 24px;
  padding: 2.4rem;
  /**
             * declare height and arrow at large and up breakpoints
             */ }
  @media (min-width: 881px) {
    .ft-project--home__info {
      height: 168px;
      height: 16.8rem;
      /**
                 * Up Arrow
                 */ }
      .ft-project--home__info:after {
        content: "";
        position: absolute;
        z-index: 100;
        left: -webkit-calc(50% - 8px);
        left: calc(50% - 8px);
        top: -16px;
        width: 0;
        height: 0;
        border-bottom: 16px solid #00853e;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent; } }

/**
             * second featured project
             */
.ft-project--home--alt {
  margin-top: 24px;
  margin-top: 2.4rem; }
  @media (min-width: 641px) {
    .ft-project--home--alt {
      margin-top: 0; } }

/**
             * Different background colour modifier
             */
.ft-project--home__info--alt {
  background: #12cc4f;
  /**
                 * Down Arrow
                 */ }
  .ft-project--home__info--alt .ft-project--home__info__location {
    color: #00853e; }
  @media (min-width: 881px) {
    .ft-project--home__info--alt:after {
      content: "";
      position: absolute;
      z-index: 100;
      left: -webkit-calc(50% - 16px);
      left: calc(50% - 16px);
      bottom: -32px;
      top: auto;
      width: 0;
      height: 0;
      border-top: 16px solid #12cc4f;
      border-bottom: 16px solid transparent;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent; } }

/**
             * Project title
             */
.ft-project--home__info__title {
  margin: 0; }

/**
             * Project location
             */
.ft-project--home__info__location {
  margin: 0 0 12px 0;
  margin: 0 0 1.2rem 0;
  color: #12cc4f; }

/**
         * Project Image
         */
.ft-project--home__img {
  height: 336px;
  height: 33.6rem;
  -webkit-background-size: cover;
          background-size: cover;
  behavior: url(/insuletics/backgroundsize.min.htc);
  background-repeat: no-repeat;
  background-position: center; }

/**
 * _case-studies-page.scss
 */
/**
 * Featured Case studies (Archive Page)
 */
/**
     * Full width H2 Section Title
     */
.ft-projects__section-title {
  width: 100%;
  color: white;
  font-weight: 400; }

/**
     * Individual project box
     */
.ft-project {
  background: #50b948; }

/**
         * Project Info sub box
         */
.ft-project__info {
  padding: 36px;
  padding: 3.6rem; }
  @media (min-width: 881px) {
    .ft-project__info {
      /**
                 * Right Arrow
                 */ }
      .ft-project__info:after {
        content: "";
        position: absolute;
        z-index: 100;
        top: -webkit-calc(10% - 10px);
        top: calc(10% - 10px);
        right: -20px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #50b948; } }

/**
             * Project title
             */
.ft-project__info__title {
  color: #00853e;
  margin: 0; }

.project-thumb {
  margin-bottom: 48px;
  margin-bottom: 4.8rem; }
  .project-thumb h3 {
    font-size: 18px;
    font-size: 1.8rem;
    color: #50b948;
    margin: 0; }
  .project-thumb p {
    font-size: 14px;
    font-size: 1.4rem;
    color: #00853e;
    margin-bottom: 24px;
    margin-bottom: 2.4rem; }
  @media (min-width: 881px) {
    .project-thumb h3 {
      font-size: 18px;
      font-size: 1.8rem; }
    .project-thumb p {
      font-size: 20px;
      font-size: 2rem; } }
  @media (min-width: 1400px) {
    .project-thumb h3 {
      font-size: 22px;
      font-size: 2.2rem; }
    .project-thumb p {
      font-size: 18px;
      font-size: 1.8rem; } }

/** Homepage.scss 
* All styles here should reflect ONLY the homepage
*/
/* Three column grid featuring heading, text and link */
.homepage-blurbs__text h3 {
  color: #50b948; }
.homepage-blurbs__text a {
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }

/* This element should sit on top of the tiled or poster background on the homepage – contains text */
.backdrop-text a {
  color: white;
  font-weight: 600;
  text-decoration: underline; }
.backdrop-text a:hover {
  color: #f2f2f2; }

/**
 * _downloadables.scss
 * All styles for downloadable files throughout the site
 */
.single-download {
  min-height: 96px;
  min-height: 9.6rem; }

.single-download__link {
  color: #2e3131;
  display: block; }
  .single-download__link img {
    display: block;
    margin: 0 auto; }

.news-article .btn {
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }

.date-posted {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  text-align: right;
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
  color: #bfbfbf; }
  @media (min-width: 641px) {
    .date-posted {
      padding: 5px; } }

.share-links {
  text-align: left;
  /* Global */
  /* Mobile only */
  /* Medium */
  /* Large up */ }
  .share-links a {
    color: #bfbfbf;
    line-height: 36px;
    line-height: 3.6rem;
    font-size: 20px;
    font-size: 2rem; }
  @media (min-width: 0) and (max-width: 640px) {
    .share-links a {
      width: 33%;
      display: block;
      float: left;
      text-align: center; } }
  @media (min-width: 641px) {
    .share-links {
      float: left; }
      .share-links a {
        margin-right: 24px;
        margin-right: 2.4rem;
        line-height: 48px;
        line-height: 4.8rem; } }
  @media (min-width: 881px) {
    .share-links {
      float: left; }
      .share-links a {
        margin-right: 0;
        line-height: 24px;
        line-height: 2.4rem;
        font-size: 12px;
        font-size: 1.2rem;
        margin-right: 10px; } }

.icon-linkedin:hover, .icon-linkedin:focus, .icon-linkedin:active {
  color: white;
  background: #0978AF; }
  @media (min-width: 641px) {
    .icon-linkedin:hover, .icon-linkedin:focus, .icon-linkedin:active {
      background: none;
      color: #0978AF; } }

.icon-facebook:hover, .icon-facebook:focus, .icon-facebook:active {
  color: white;
  background: #46629E; }
  @media (min-width: 641px) {
    .icon-facebook:hover, .icon-facebook:focus, .icon-facebook:active {
      background: none;
      color: #46629E; } }

.icon-twitter:hover, .icon-twitter:focus, .icon-twitter:active {
  color: white;
  background: #55ACEE; }
  @media (min-width: 641px) {
    .icon-twitter:hover, .icon-twitter:focus, .icon-twitter:active {
      background: none;
      color: #55ACEE; } }

.the-date {
  display: none; }
  .the-date p {
    margin-bottom: 0; }
  @media (min-width: 641px) {
    .the-date {
      display: block;
      float: right; }
      .the-date p {
        line-height: 48px;
        line-height: 4.8rem;
        font-size: 12px;
        font-size: 1.2rem; } }
  @media (min-width: 881px) {
    .the-date p {
      line-height: 24px;
      line-height: 2.4rem;
      font-size: 10px;
      font-size: 1rem; } }

.system-finish--title {
  vertical-align: middle;
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }
  @media (min-width: 881px) {
    .system-finish--title img, .system-finish--title h2 {
      line-height: 72px;
      line-height: 7.2rem;
      display: inline-block;
      vertical-align: middle; }
    .system-finish--title h2 {
      margin-left: 24px;
      margin-left: 2.4rem; } }
  .system-finish--title h2 {
    margin-bottom: 0; }

.finish-data {
  background: #E5F2EB;
  padding: 24px;
  padding: 2.4rem;
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }
  .finish-data p:last-child {
    margin-bottom: 0; }

.finish-data--thumb {
  margin-bottom: 0;
  display: block; }
  .finish-data--thumb img {
    display: block;
    margin: 0 auto; }
  .finish-data--thumb small {
    display: block;
    text-align: center; }

