/**
 * _billboard.scss
 * big header box
 */

.no-billboard .billboard-container{
    display: none;
}
.billboard-container{
    position: relative;
    min-height: 375px;

    @include at-breakpoint($l){
        min-height: 450px;
    }
}

    .billboard-container--static{
        width: 100%;
    }

.billboard{
    text-align: center;
    background-repeat: no-repeat;
    @include background-size(cover);
    background-position: center;
    transform-style: preserve-3d;       
    position: relative; 
    height: 375px;

    @include at-breakpoint($l){
        height: 450px;
    }
}

    .billboard--slide{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .billboard__caption{
        z-index:2;
        position: relative;
        top: 50%;
        transform: translateY(-50%);   
    }

    .no-csstransforms .billboard__caption{
        top: 35%;
    }

    .billboard__background{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba($clr_green_glow,0.8); 
    }
    
    /**
     * Modernizr fallback class for IE's
     * lack of support of multiple BG images.
     * requires modernizr.js
     */
    .no-multiplebgs .billboard__background{
        background: $clr_green_glow;
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

        /* IE 5-7 */
        filter: alpha(opacity=80);
    }

    .billboard__title{
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.2;
        color: white;
        font-size: typesize(28);

        @include at-breakpoint($l){
            font-size: typesize(48);
        }
    }

    .billboard__description{
        font-size: typesize(16);
        color: white;

        @include at-breakpoint($l){
            font-size: typesize(20);
        }
    }