/**
 * _case-studies-page.scss
 */

/**
 * Featured Case studies (Archive Page)
 */

.ft-projects{}
    
    /**
     * Full width H2 Section Title
     */

    .ft-projects__section-title{
        width: 100%;
        color: white;
        font-weight: $medium;
    }
         
    /**
     * Individual project box
     */

    .ft-project{
        background: $clr_green_leaf;
    }

        /**
         * Project Info sub box
         */

        .ft-project__info{
            padding: size(1.5);

            @include at-breakpoint($l){
            
                /**
                 * Right Arrow
                 */

                &:after{
                    content:"";
                    position: absolute;
                    z-index: 100;
                    top: calc(10% - 10px);
                    right: -20px;
                    width: 0; 
                    height: 0; 
                    border-top: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-left: 20px solid $clr_green_leaf;
                }
            }
        }

            /**
             * Project title
             */

            .ft-project__info__title{
                color: $clr_green_dark;
                margin: 0;
            }

.project-thumb{
    margin-bottom: size(2);

    h3{ 
        font-size: $size_h4; 
        color: $clr_green_leaf;
        margin: 0;
    }
    p{ 
        font-size: $size_p; 
        color: $clr_green_dark;
        margin-bottom: size(1);
    }

    @include at-breakpoint($l){
        h3{
            font-size: $size_h4;
        }
        p{
            font-size: $size_lead;
        }
    }

    @include at-breakpoint($xl){
        h3{
            font-size: $size_h3;
        }
        p{
            font-size: $size_h4;
        }
    }
}