/**
 * _case-studies-home.scss
 * most recent case studies layout for homepage
 */

/**
 * Featured Case studies (Home page)
 */

.ft-projects--home{}
    
    /**
     * First full height box that contains the section title
     */

    .ft-projects--home__section-title{
        padding: 0 0 size(2) 0;
        display: table;
        width: 100%;

        h2{
            display: table-cell;
            vertical-align: middle;
            color: white;
            font-weight: $medium;
        }

        span{
            color: $clr_green_glow;
            @include at-breakpoint($l){
                color: $clr_green_dark;
            }
            display: block;
        }
        
        /**
         * Add height and pseudoelement arrow to large and up breakpoints
         */

        @include at-breakpoint($l){
            background: $clr_green_glow;
            height: size(21);
            padding: size(2);

            &:after{
                content:"";
                position: absolute;
                z-index: 100;
                top: calc(50% - 8px);
                right: -16px;
                width: 0; 
                height: 0; 
                border-top: 16px solid transparent;
                border-bottom: 16px solid transparent;
                border-left: 16px solid $clr_green_glow;
            }
        }
    }
         
    /**
     * Individual project box
     */

    .ft-project--home{
        background-color: #ccc;
    }

        /**
         * Project Info sub box
         */

        .ft-project--home__info{
            background: $clr_green_dark;
            padding: size(1);
            
            /**
             * declare height and arrow at large and up breakpoints
             */

            @include at-breakpoint($l){
                
                height: size(7);
            
                /**
                 * Up Arrow
                 */

                &:after{
                    content:"";
                    position: absolute;
                    z-index: 100;
                    left: calc(50% - 8px);
                    top: -16px;
                    width: 0; 
                    height: 0; 
                    border-bottom: 16px solid $clr_green_dark;
                    border-left: 16px solid transparent;
                    border-right: 16px solid transparent;
                }
            }

        }

            /**
             * second featured project
             */
            
            .ft-project--home--alt{
                margin-top: size(1);    
                @include at-breakpoint($m){
                    margin-top: 0; 
                }
            }

            /**
             * Different background colour modifier
             */
            
            .ft-project--home__info--alt{
                background: $clr_green_glow;
                                
                .ft-project--home__info__location{
                    color: $clr_green_dark;
                }

                 /**
                 * Down Arrow
                 */

                @include at-breakpoint($l){
                    &:after{
                        content:"";
                        position: absolute;
                        z-index: 100;
                        left: calc(50% - 16px);
                        bottom: -32px;
                        top: auto;
                        width: 0; 
                        height: 0; 
                        border-top: 16px solid $clr_green_glow;
                        border-bottom: 16px solid transparent;
                        border-left: 16px solid transparent;
                        border-right: 16px solid transparent;
                    }
                }
            }

            /**
             * Project title
             */

            .ft-project--home__info__title{
                margin: 0;
                @extend .lead;
            }

            /**
             * Project location
             */

            .ft-project--home__info__location{
                margin: 0 0 size(0.5) 0;
                color: $clr_green_glow;
            }

        /**
         * Project Image
         */

        .ft-project--home__img{
            height: size(14);
            @include background-size(cover);
            background-repeat: no-repeat;
            background-position: center;
        }