/**
 * content.scss
 */

/**
 * Container
 * wraps billboard and content
 */

.container{
    width: 100%;
    margin-left: 0;
    /**
     * Large breakpoint that subtracts the sidebar width 
     * from the total content percentage
     */

    @include at-breakpoint($l){
        margin-left: 240px;
        //width: 400px; /* Older Browsers */
        width: calc(100% - 240px);
    }

    /**
     * Xtra-large breakpoint that subtracts the sidebar width 
     * from the total content percentage
     */

    @include at-breakpoint($xl){
        margin-left: 310px;
        //width: 470px; /* Older Browsers */
        width: calc(100% - 310px);
    }

}

/**
 * Content
 * wraps the main content area of the site
 */

.content{

}

    /**
     * Adds top and bottom badding to content 
     * use where appropriate (may actually add to .content)
     */

    .content--padded{
        padding: size(1) 0; 

        @include at-breakpoint($l){
            padding: size(2) 0; 
        }
        
    }

    .content--case-studies{
        padding-top: size(1);
    }

    /**
     * Adds DOUBLE top and bottom badding to content 
     * use where appropriate (may actually add to .content)
     */

    .content--padded--2x{
       padding: size(2) 0; 

        @include at-breakpoint($l){
            padding: size(4) 0; 
        }
    }

    /**
     * Content gradient background modifier
     * Styles are  applied to a pseudoclass to enable bg stacking
     */
    
    .content--gradient{
        color: white;
    }

     /**
     * Content background image modifier
     */
    
    .content--bg-img{
        background-image: url('assets/imgs/cityscape.jpg');
        bockground-position: fixed;
        @include background-size(cover);
        background-repeat: no-repeat;
    }

    /**
     * Content with background pattern
     */
    
    .content--bg-tile{
        color: white;
        background: url('assets/imgs/polygon-tile.png') #385b6f;
    }

    /* Contrasting background */
    .content--bg-grey{
        background: lighten($clr_gray_light,2%);
    }

    .content--bg-green{
        background: $clr_brand_primary;
        color: white;
    }



/**
 * Secondary Nav Wrapper
 */

.secondary-nav{
    @include at-breakpoint($l){
        border-left: 1px solid darken($clr_sidebar_bg,10%);
        padding-left: size(1);
    }
   
}