/**
 * _downloadables.scss
 * All styles for downloadable files throughout the site
 */

.single-download{
	min-height: size(4);
}

	.single-download__link{
		color: $text_colour;
		display: block;
		img{ display: block; margin: 0 auto; }
	}

	.single-download__title{

	}