/**
 * _footer.scss
 * Footer specific declarations
 */

footer{
	border-top: 10px solid $clr_green_leaf;
	background: $clr_green_dark;
}

	.footer-block{
		margin-bottom: size(1);

		h2,h3{ 
			color: white; 
			font-size: $size_lead;
		}

		p,a,li{ 
			color: white;
			margin-bottom: 0;
			padding: 0;
		}
	}

		.footer-block--tech-support ul,
		.footer-block--news ul{
			margin: 0;
			list-style-type: none;
			padding: 0;
		}

		.footer-block--news li{
			margin-bottom: size(0.4);
		}


/* Accreditations */
.accreditations{
	border-top: 1px solid darken($clr_sidebar_bg,10%);
	position: relative;
	background: white;
	height: 200px;

	ul,li{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li{
		line-height: 200px;
	}
}
	.single-accreditation{
	    position: relative;
	    line-height: 200px;
	    height: 200px;
	}

    	.single-accreditation__link{
    		transform-style: preserve-3d;
			height: 200px;
			display: block;

			img{
				display: block;
				margin: 0 auto;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
    	}

    	.no-csstransforms .single-accreditation__link img{
			top: 25%;
    	}