/**
 * _header.scss
 * Header specific declarations
 */

header{
	display: block;
	height: 50px;

	@include at-breakpoint($l){
		display: none;
	}
}


.no-billboard header{
	transition: .2s;
	background: $clr_green_dark;
	z-index: 5;

	> div{ 
		transition: .2s;
		background: $clr_green_dark;
		background: rgba($clr_green_dark,0.6);
		right: 0;
		position: fixed;
	}

	@extend .clear;
}
	
	.no-billboard header.triggered{

		& > div{
			background: $clr_green_dark;
		}
	}

.has-billboard header{
	transition: .2s;
	background: $clr_green_dark;
	background: rgba($clr_green_dark,0.6);
	z-index: 5;

	width: 50px;

	position: fixed;
	top: 0;
	right: 0;
}
	.has-billboard header.triggered{
		background: $clr_green_dark !important;
	}
	

.mobile-nav-trigger{
	z-index: 100000;
	-webkit-touch-callout: none;
	padding: 5px;
	width: 50px;
	height: 50px;
	display: block;
}


		/**
		 * CSS Transitional Navicon
		 * 
		 * The following css is a customised snippet from
		 * http://sarasoueidan.com/blog/navicon-transformicons/
		 * vars can be found in __base.scss and mixins can be found in _shapes.scss
		 *
		 * **Only used on browsers that support CSS Transitions
		 */
		.lines-button{
			width: 40px;
			height: 40px;
			display: inline-block;
			padding: $navicon-size/2 $navicon-size/4;
			transition: .3s;
			cursor: pointer;
			user-select: none;
			border-radius: $navicon-size/7;
		 
			&:hover {
				opacity: 1;
			}
		 
			&:active {
				transition: 0;
			}   
		}

		.lines {
			//create middle line
			@include line;
			position: relative; 

			/*create the upper and lower lines as pseudo-elements of the middle line*/
			&:before, 
			&:after {
				@include line;
				position: absolute;
				left:0;
				content: '';
				transform-origin: $navicon-size/14 center;
			}
			&:before { top: $navicon-size/3; }
			&:after { top: -$navicon-size/3; }
		}

			.lines-button.x.close .lines{
 
				/*hide the middle line*/
				background: transparent;
			 
				/*overlay the lines by setting both their top values to 0*/
				&:before, &:after{
				  transform-origin: 50% 50%;
				  top:0;
				  width: 100%;
				}
			 
				// rotate the lines to form the x shape
				&:before{
				  transform: rotate3d(0,0,1,45deg); 
				}
				&:after{
				  transform: rotate3d(0,0,1,-45deg); 
				}

			}


/* Mobile Logo */
.mobile-logo{
	z-index: 5;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 0;
	bottom: 0;
	height: 35px;
	width: 120px;

	img{
		max-height: 45px;
		display: block;
	}

	@include at-breakpoint($l){
		display: none;
	}
}