/** Homepage.scss 
* All styles here should reflect ONLY the homepage
*/

/* Three column grid featuring heading, text and link */
.homepage-blurbs{}

	.homepage-blurbs__text{
		h3{
			color: $clr_green_leaf;
		}
		a{
			margin-bottom: size(1);
		}
	}

/* This element should sit on top of the tiled or poster background on the homepage – contains text */
.backdrop-text{
	a{
		color: white;
		font-weight: $semibold;
		text-decoration: underline;
	}
	a:hover{
		color: darken(white,5%);
	}
}

	.backdrop-text > p:first-child{
		@extend .lead;
	}