.news-article{
	.btn{
		margin-bottom: size(1);
	}
}
	.date-posted{
		border-top: 1px solid #f1f1f1;
		border-bottom: 1px solid #f1f1f1;
		text-align: right;
		margin-bottom: size(1);
		color: darken(#ccc,5%);

		@include at-breakpoint($m){
			padding: 5px;
		}
	}

		.share-links{			
			text-align: left;

			/* Global */
			a{
				color: darken(#ccc,5%);
				line-height: size(1.5);
				font-size: typesize(20);
			}

			/* Mobile only */
			@include at-breakpoint(0, 640px){
				a{ 
					width: 33%; 
					display: block; 
					float: left;
					text-align: center;
				}
			}

			/* Medium */
			@include at-breakpoint($m){
				float: left;
				a{
					margin-right: size(1);
					line-height: size(2);
				}
			}

			/* Large up */
			@include at-breakpoint($l){
				float: left;
				a{ 
					margin-right: 0;
					line-height: size(1);
					font-size: typesize(12);
					margin-right: 10px;
				}
			}
		}


			.icon-linkedin:hover,
			.icon-linkedin:focus,
			.icon-linkedin:active {
				color: white;
				background: $clr_linkedin;

				@include at-breakpoint($m){
					background: none;
					color: $clr_linkedin;
				}
			}
			.icon-facebook:hover,
			.icon-facebook:focus,
			.icon-facebook:active {
				color: white;
				background: $clr_facebook;

				@include at-breakpoint($m){
					background: none;
					color: $clr_facebook;
				}
			}
			.icon-twitter:hover,
			.icon-twitter:focus,
			.icon-twitter:active {
				color: white;
				background: $clr_twitter;

				@include at-breakpoint($m){
					background:none;
					color: $clr_twitter;
				}
			}


		.the-date{
			display: none;
			p{
				margin-bottom: 0;
			}

			@include at-breakpoint($m){
				display: block;
				float: right; 
				p{ 
					line-height: size(2);
					font-size: typesize(12);
				}
			}

			@include at-breakpoint($l){
				p{ 
					line-height: size(1);
					font-size: typesize(10);
				}
			}
		}