/**
 * sidebar.scss
 */

.secondary-nav{
    h2,
    h3{
        margin: size(1) 0;
    }

    @include at-breakpoint($m){
        h2,
        h3{
            margin-top: 0;
        }
    }
}

.sidebar{
    display: none;
    width: 310px;

    position: fixed;
    height: 100%;

    top: 0;
    left: 0;

    background: $clr_sidebar_bg;

    @include at-breakpoint($l){
        display: block;
        width: 240px;
    }

    @include at-breakpoint($xl){
        width: 310px;
    }
}

    .sidebar-container{
        position: relative;
        height: 100%;
    }
    .sidebar__logo,
    .sidebar__search,
    .sidebar__nav,
    .sidebar__contact{
        margin: 0 size(1);
    }
    
    .sidebar__logo{
        img{
            margin: 0 auto;
            display: block;
        }
        padding: size(1) 0;
    }

    .sidebar__email{
        color: $clr_green_dark;
        a{ display: inline-block; }
    }



/**
 * Sidebar contact details
 */

.contact{
    margin-top: size(1);
}

    .contact__item{
        list-style: none;
        margin: 0 0 size(0.5) 0;
        text-align: right;
        color: darken($clr_sidebar_bg,30%);
        font-size: typesize(12);
    }

        .contact__item h2{
            margin: 0;
            font-size: typesize(12);
            font-weight: $medium;
            text-transform: uppercase;
            color: $clr_brand_secondary;
        }

    .contact__btn{
        text-align: center;
        margin: 0 auto;
    }


.call-to-action{
    padding: 20px;
    color: white;
    margin: size(1) 0;

    h2{ 
        font-size: $size_h3;
        margin: 0;
    }
    p{
        font-size: $size_lead;
        line-height: size(1);
        margin-bottom: 0;
    }
    a{ color: white; }


    @include at-breakpoint($m){
        margin: 0 0 size(1) 0;
    }
}
    .call-to-action--green{ background: $clr_green_leaf; }

.sidebar__block{
    margin-bottom: size(1);
    p{ margin-bottom: 0;}
    ul,li{
        margin: 0;
        list-style-type: none;
    }
    li{
        padding: 0;
        margin-bottom: size(0.5);
        a{ 
            color: darken(#ccc,5%);
            transition: .2s;
        }
    }

    ul li a:hover,
    ul li a:active,
    ul li a:focus{
        color: $clr_green_dark;
        text-decoration: underline;
    }
    .active-item a{
        color: $clr_brand_secondary;
    }
}

.no-canvas .sidebar__block a{
    font-weight: $semibold;
}