.system-finish{

}

	.system-finish--title{
		vertical-align: middle;
		margin-bottom: size(1);

		@include at-breakpoint($l){
			img,h2{
				line-height: size(3);
				display: inline-block;
				vertical-align: middle;
			}

			h2{
				margin-left: size(1);
			}
		}

		h2{
			margin-bottom: 0;
		}
	}

	.finish-data{
		background: #E5F2EB;
		padding: size(1);
		margin-bottom: size(1);

		p:last-child{
			margin-bottom: 0;
		}
	}

		.finish-data--thumb{
			margin-bottom: 0;
			display: block;

			img{
				display: block;
				margin: 0 auto;
			}

			small{
				display: block;
				text-align: center;
			}
		}