/**
 * Define xbrowser opacity
 */
@mixin opacity($val) {
	$ie: $val * 100;

   /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$ie})";

  /* IE 5-7 */
  filter: alpha(opacity=$ie);

  /* Netscape */
  -moz-opacity: $val;

  /* Safari 1.x */
  -khtml-opacity: $val;

  /* Good browsers */
  opacity: $val;
}