@font-face {
	font-family: 'icomoon';
	src:url('assets/fonts/icomoon.eot?fg2av5');
	src:url('assets/fonts/icomoon.eot?#iefixfg2av5') format('embedded-opentype'),
	url('assets/fonts/icomoon.woff?fg2av5') format('woff'),
	url('assets/fonts/icomoon.ttf?fg2av5') format('truetype'),
	url('assets/fonts/icomoon.svg?fg2av5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	transition: .2s;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	border-radius: 2px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
